@import '_colors.scss';
@import '_global.scss';

.audit-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.help-text{
  font-size: 16px;
  text-align: center;
}
.student-name{
  display:flex;
  font-size:18px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding:10px 0px;
}
.totals-row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
.btn-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-table{
  border: 1px solid $gray;
  width:100%;
  font-size:14px;
  border-radius: 5px;
  border-collapse: separate;
  td{
    padding:2px 5px;
    white-space: nowrap;
    border:1px solid $gray;
  }
}