@import '_global.scss';
@import '_colors.scss';

.dashboard-container{

  .sub-header{
    display:flex;
    justify-content: center;
  }
  .console-content{
    display:flex;
    justify-content: center;

  }
  .list-container{
    padding-right: 0px;
  }
  .setting-container{
    display:flex;
    justify-self: center;
    padding:1%;
    margin-top:1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color:$medium_2 ;    
  }
  
  a:active{
    background-color: $gray; 
  }

  .btn{
    margin-right:10px;
  }
  .btn-container{
    display:flex;
  }
  .btn-outline-light:hover{
    color:$dark;
  }
  .btn-outline-light{
    color: $light;
    border-color: $light;
  }
  .count-audit-col{  
    display:flex;
    flex-direction: column;

    background-color: $light;
  }

  .count-row{
    display:flex;
    border:1px solid $gray;
    border-bottom: 0px;
    height:45%;
    padding:10px;
  }

  .audit-row{   
    border:1px solid $gray;
    border-top:0px;
    justify-content: center;
    align-items: center;
    height:65%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  }
}