@import '_global.scss';

.dashboard-container{
  
  .setting-container{
    display:flex;
    width:auto;
    padding:1%;
    margin-top:1%;
    background-color: cornflowerblue;
    
    .dataset{
      padding:0px 10px;
    }
  }

  .btn-container{
    display:flex;
    // margin:10px 0px;
    flex-direction: row;
  }
  
  .count-container{  
    background-color: lightcoral;
    margin-right: 1%;
  }

  .count-row{
    border:1px solid lightgray;
    justify-content: center;
    align-items: center;
    height:35%;
  }
  .audit-row{
    border:1px solid lightgray;
    justify-content: center;
    align-items: center;
    height:65%;
  }

  
}