@import "_global.scss";
@import "_colors.scss";
.tab{
  margin:1% 10px;

  .tab-text {
    color:$light !important;
  }
}

.title{
  font-size:1.5rem;
  font-weight: 500 !important;
  color:white
}

.header-container{
  position:absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 8px #888888;;

}